<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{title}}</title>
		<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="{{url.css}}bulma.min.css">
		<link rel="stylesheet" href="{{url.css}}fa.min.css">
		<link rel="stylesheet" href="{{url.home}}style.min.css.php?v{{config.version}}">
	</head>
	<body class="{% block body_class %}{% endblock %}"> {% block body %}{% endblock %}


		<script src="{{url.js}}jquery.js"></script>
		<script src="{{u}}scripts.js.php?v={{config.version}}"></script>

		{% block scripts %}{% endblock %}
	</body>
</html>
