{% extends "templates/page.twig" %}


{% block content %}

	<section class="hero">
		<div class="hero-body">
			<div class="container">

				<div class="columns is-vcentered">
					<div class="column is-8">
						<h1 class="title">Products -
							{{list|length}}</h1>
					</div>
					<div class="column has-text-right">

						<a href="{{u}}products/add" class="button is-medium is-primary">
							<span>Add</span>
							<span class="icon">
								<i class="fas fa-plus"></i>
							</span>
						</a>
					</div>
				</div>

			</div>
		</div>
	</section>

	<div class="container">

		<div class="columns">

			<div class="column">

				<table class="table stripped is-fullwidth">
					<thead>
						<tr>
							<th>Code</th>
							<th>Name</th>
							<th>Price</th>
							<th>Stock</th>
							<th>Actions</th>
						</tr>
					</thead>

					<tbody>
						{% for i, data in list %}
							<tr product="{{data.id}}">
								<td>{{data.code}}</td>
								<td>{{data.name}}</td>
								<td>{{data.price}}</td>
								<td>{{data.stock}}</td>
								<td style="width: 300px">
									<a href="{{u}}products/edit/{{data.id}}" class="button is-small is-warning">
										<span>stats</span>
										<span class="icon">
											<i class="fas fa-chart-line"></i>
										</span>
									</a>

									<a href="{{u}}products/edit/{{data.id}}" class="button is-small is-info">
										<span>edit</span>
										<span class="icon">
											<i class="fas fa-edit"></i>
										</span>
									</a>

									<a delete-product="{{data.id}}" class="button is-small is-danger">
										<span>delete</span>
										<span class="icon">
											<i class="fas fa-trash"></i>
										</span>
									</a>
								</td>
							</tr>
						{% endfor %}

					</tbody>
				</table>

			</div>

		</div>

	</div>
{% endblock %}
